# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.pyc
.Python
env/
venv/
thesis-env/
.env

# VS Code
.vscode/

# Node
frontend/node_modules
frontend/build